<div class="modal-header">
    <h3>Authentication Required!</h3>
</div>
<div class="modal-body">
    <div class="control-group row-fluid">
        <label class="control-label" for="email">Email</label>

        <div class="controls">
            <input type="text" class="span12" id="email" placeholder="Enter your email address" required>
        </div>
    </div>
    <div class="control-group row-fluid">
        <label class="control-label" for="password">Password</label>

        <div class="controls">
            <input type="password" class="span12" id="password" placeholder="Enter your password" required>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary" id="submit"><i class="icon-signin"></i> Sign In</a>
    <a href="#" class="btn" id="close">Close</a>
</div>
